# Environment variables

DATABASE_URL=postgresql://user:password@localhost:5432/teachers_arena

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_REGION=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# App
NEXTAUTH_URL=http://localhost:3000

# App secrets
SESSION_SECRET=
JWT_SECRET=
